<!-- <hr>
<h2>2th</h2>
<p><strong>Temperature: </strong><%= data.list[8].main.temp %></p>
<p><strong>Minimal Temperature: </strong><%= data.list[8].main.temp_min %></p>
<p><strong>Maximal Temperature: </strong><%= data.list[8].main.temp_max %></p>
<p><strong>Humidity: </strong><%= data.list[8].main.humidity %>%</p>
<p><strong>Weather: </strong><%= data.list[8].weather[0].main %></p>
<p><strong>Weather Description: </strong><%= data.list[8].weather[0].description %></p>
<p><strong>Date: </strong><%= data.list[8].dt_txt %></p>

<hr>
<h2>3th</h2>
<p><strong>Temperature: </strong><%= data.list[16].main.temp %></p>
<p><strong>Minimal Temperature: </strong><%= data.list[16].main.temp_min %></p>
<p><strong>Maximal Temperature: </strong><%= data.list[16].main.temp_max %></p>
<p><strong>Humidity: </strong><%= data.list[16].main.humidity %>%</p>
<p><strong>Weather: </strong><%= data.list[16].weather[0].main %></p>
<p><strong>Weather Description: </strong><%= data.list[16].weather[0].description %></p>
<p><strong>Date: </strong><%= data.list[16].dt_txt %></p>

<hr>
<h2>4th</h2>
<p><strong>Temperature: </strong><%= data.list[24].main.temp %></p>
<p><strong>Minimal Temperature: </strong><%= data.list[24].main.temp_min %></p>
<p><strong>Maximal Temperature: </strong><%= data.list[24].main.temp_max %></p>
<p><strong>Humidity: </strong><%= data.list[24].main.humidity %>%</p>
<p><strong>Weather: </strong><%= data.list[24].weather[0].main %></p>
<p><strong>Weather Description: </strong><%= data.list[24].weather[0].description %></p>
<p><strong>Date: </strong><%= data.list[24].dt_txt %></p>

<hr>
<h2>5th</h2>
<p><strong>Temperature: </strong><%= data.list[32].main.temp %></p>
<p><strong>Minimal Temperature: </strong><%= data.list[32].main.temp_min %></p>
<p><strong>Maximal Temperature: </strong><%= data.list[32].main.temp_max %></p>
<p><strong>Humidity: </strong><%= data.list[32].main.humidity %>%</p>
<p><strong>Weather: </strong><%= data.list[32].weather[0].main %></p>
<p><strong>Weather Description: </strong><%= data.list[32].weather[0].description %></p>
<p><strong>Date: </strong><%= data.list[32].dt_txt %></p>
 -->