<% include partials/header %>

<div class="container" id="IndexContainer">
	<div class="IndexDiv">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td><h2>Weather in <%= data.name %>, <%= data.sys.country %></h2></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<img src='http://openweathermap.org/img/w/<%=data.weather[0].icon%>.png'>
							<strong><%= data.main.temp %> ºC</strong>
							<br>
							<strong>get at </strong><%= new Date() %>
						</td>
					</tr>
					<tr>
						<td><strong>Wind: </strong><%= data.wind.speed %> m/s</td>
					</tr>
					<tr>
						<td><strong>Pressure: </strong><%= data.main.pressure %> hpa</td>
					</tr>
					<tr>
						<td><strong>Humidity: </strong><%= data.main.humidity %>%</td>
					</tr>
					<tr>
						<td><strong>Weather: </strong><%= data.weather[0].main %></td>
					</tr>
					<tr>
						<td><strong>Weather Description: </strong><%= data.weather[0].description %></td>
					</tr>
					<tr>
						<td>
							<div id="search">
								<form action="/" method="get">
									<button class="btn btn-primary" value="submit">Search Again</button>
								</form>
								<form action="/index/page2" method="get">

									<button class="btn btn-primary" value="submit">More few days</button>
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% include partials/footer %>